
.head{
  height: 82px;
  background-color:#eb4c84;
}
.nav{
  height:32px;
  background-color: #e3e4e5;
}
.nav .nav-left {
  line-height: 32px;
  height:32px;
 padding-left: 200px;
 margin-right: 193px;
 float: left;
}

.nav-left i{
  width:20px;
  height:20px;
  background-color: #fff;
}
.nav .nav-right{
  float:left;
  line-height: 10px;
  height:32px;
 margin-right:0px;
}
.line{
  width: 1px;
  height:10px;
  margin-left:16px;
  background-color: #f00;
}
.nav .nav-right ul li {
  float:left;
  margin-left: 16px;
}
.nav .nav-right .red{
  color: #C81623;
}
.header{
  height:142px;
  background-color: #f6f6f6;
  margin-top: -8px;
}
.header-box{
  height:142px;
  position:relative;
}
.logo h1 a{
  text-indent: -9999px;
  display:block;
  height:142px;
  width:192px;
  background: #fff url(../images/logo.v2.png)no-repeat;
  position: absolute;
  left:0px;
  top: -32px;
  padding-top:32px;
}
.sech{
  width:874px;
  height:34px;
   padding-top:26px;
}
.sech .tex{
  width:500px;
  height:34px;
  border: 1px solid #f10215;
  margin-left:322px;
  float:left;
  display:inline-block;
  color:#989898;
}
.sech .bnt{
  width:50px;
  height:36px;
  border:1px solid #f10215;
  float:left;
  background-color: #f10215;
  color:#fff;
}
.car{
  height:36px;
  width:190px;
  background-color: #fff;
  border:1px solid #e3e4e5;
  float:left;
  margin-left:34px;
  display:inline;
  margin-top:-36px;
  line-height:35px;
  text-align: center;
  position:relative;

}
.car a{
  display:block;
  color:#f10215;
}
.car .icon2{
  width:14px;
  height:14px;
  background-color: #f10215;
  position:absolute;
  right:50px;
  top:10px;
  line-height:14px;
  text-align:center;
  color:#fff;
  border-radius:50%;
  // border-radius: 50% 50% 50% 0;
}
.erw{
 margin-right:-15px;
  width:70px;
  height:70px;
  float:right;
  margin-top:-60px;
  display:inline-block;
  background: url(../images/mobile_qrcode.jpg)no-repeat ;
}
.minnav{
  width:555px;
   margin-left:270px;
}
.minnav ul li{
  float:left;
  padding-left:8px;
  color:#989898;
}
.maxnav {
  width:900px;
  padding-top:30px;
  margin-left:200px;
}
.first:first-child{
  margin-left:-10px;
}
.maxnav ul li{
  float:left;
  padding-right:23px;
  font-size:20px;
}
.maxnav ul li a{
  display:block;
  color:#555555;
  font-weight: 700;
}
 .maxnav .solid{
  color:#989898;
  margin-left:-10px;
  margin-right:-10px;
 }
 .guanggao img{
  width:190px;
  height:50px;
  float:left;
  margin-right:0px;
  position:absolute;
  right:0px;
  bottom: 0px;
 }
.footer{
  background-color: #eaeaea;
}
.footer-top-slogan{
  padding: 30px 0;
  height:43px;
  border-bottom: 1px solid #dedede;
}
.footer-top-slogan li{
  float:left;
  padding-left:30px;
  width:250px;

}
.footer-top-slogan h5,.footer-top-slogan span{
  float:left;
  padding-left:5px;
}
.footer-top-slogan h5{
  width:36px;
  height:42px;
  background:url(../images/slogan.png)no-repeat;
  text-indent:-9999px;
  margin-top:0px;
}
.footer-top-slogan span{
  height:42px;
  font:bold 18px/42px "微软雅黑"
}
.slogan1 h5{
  background-position: 0 -42px;
}
.slogan2 h5{
  background-position: 0 -85px;
}
.slogan3 h5{
  background-position: 0 -129px;
}
.footer-botoom{
    height:202px;
  background-color: #eaeaea;
}
.footer-b {
  border-bottom:1px solid #dedede;
}
.shop {
  float:left;
  margin-left:82px;
}
.shop-f:first-child{
  font-size:13px;
  font-weight:700;
}
.shop-f2:first-child{
  font-size:13px;
  font-weight:700;
}
.shop-f3:first-child{
  font-size:13px;
  font-weight:700;
}
.shop-f4:first-child{
  font-size:13px;
  font-weight:700;
}
.shop-f5:first-child{
  font-size:13px;
  font-weight:700;
}
.shop-f6:first-child{
   margin-left:42px;
  font-size:13px;
  font-weight:700;
}
.shop2 ,.shop4,.shop5{
  float:left;
  margin-left:70px;
}
.shop3{
  float:left;
  margin-left:70px;
}
.shop5{
  float:left;
  margin-left:70px;
}
.shop6{
  float:left;
  margin-left:70px;
  margin-right: 75px;
  background:url(../images/china.png)no-repeat 20px 10px;
}
.shop ul li {
  width:60px;
  padding-top:6px;
}
.shop2 ul li {
  width:90px;
  padding-top:6px;
}
.shop3 ul li {
  width:60px;
  padding-top:6px;
}
.shop4 ul li {
  width:75px;
  padding-top:6px;
}
.shop5 ul li {
  width:60px;
  padding-top:6px;
}
.shop6 ul li {
  width:177px;
  padding-top:6px;
}
.footer-box{
  height:49px;
  line-height:49px;
  height:200px;
  background-color: #eaeaea;
}
.footer-box .footer-nav {
  float:left;
  line-height: 10px;
  height:32px;
 margin-left:92px;
 margin-top:8px;
}
.line {
  width:1px;
  height:10px;
  margin-left:16px;
  color:red;
}
.footer-nav ul li{
  float:left;
  margin-left:10px;
}
 .footer-nav-b{
 margin-top:50px;
 text-align:center;
}
.footer-nav-b p{
  line-height:22px;
  color:#ada3b9;
}
.footer-nav-b a{
  display:inline-block;
  color:#ada3b9;
}
.footer-nav-b a:hover{
  color:red;
}
.footer-c{

  text-align:center;
}
.footer-c a{
  width:103px;
  height:30px;
  display:inline-block;
  background: url(../images/china.png)no-repeat 0 -151px;
}
.footer-c .f-1{
  width:103px;
  height:30px;
  display:inline-block;
  background: url(../images/china.png)no-repeat 0 -181px;
}
.footer-c .f-2{
  width:103px;
  height:30px;
  display:inline-block;
  background: url(../images/china.png)no-repeat 0 -211px;
}
.footer-c .f-3{
  width:103px;
  height:30px;
  display:inline-block;
  background: url(../images/china.png)no-repeat 0 -181px;
}
.footer-c .f-4{
  width:103px;
  height:30px;
  display:inline-block;
  background: url(../images/china.png)no-repeat 0 -181px;
}
.footer-c .f-5{
  width:103px;
  height:30px;
  position:absolute;
  background: url(../images/china.png)no-repeat 0 -181px;
}
.banner a{
  display:block;
 position:relative;
 width:100%;
 height:480px;
 background: url(../images/banner480.png)no-repeat center center;
}
.main-left{
  background-color: #6e6568;
  width:190px;
  height:450px;
  position:absolute;
  left:79px;
  top:264px;
  padding:15px 0;
}
.main-l{
  position:absolute;
  left:-28px;
  top:0px;
}
.main-left ul li{
  height:30px;
}
.main-left ul li a{
  color:#fff;
  font:16px/30px "微软雅黑";
}
.main-left ul li a:hover{
   color:#f10215;
}
.main-left ul li:hover{
  background-color: #999395;
}
.main-center{
  width:790px;
  height:480px;
  position:absolute;
  left:279px;
  top:264px;
}
.main-center-top{
  position:relative;
}
.arrow{
  display:none;
}
.main-center-top:hover .arrow{
  display:block;
}
.arrow .arrow-left{
  height:60px;
  width:30px;
  line-height:60px;
  background-color: rgba(0,0,0,.6);
  position:absolute;
  left:0;
  top:150px;
  color:#fff;
  text-align:center;
  font-size:30px;
  cursor: pointer;
}
.arrow-right{
  height:60px;
  width:30px;
  line-height:60px;
  color:#fff;
  position:absolute;
  right:0;
  top:150px;
  text-align:center;
  font-size:30px;
  background-color: rgba(0,0,0,.6);
  cursor: pointer;
}
.lunbo{
  width:300px;
  height: 20px;
  position:absolute;
  left:260px;
  top:290px;
  border-radius:34%;
}
.nav-btn{
   display: inline-block;
    margin-right: 10px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #fff;
}
.lunbo ul  li:hover{
   background-color: #f00;
}
.lunbo ul  li:first-child{
  background-color: #f00;
}
.main-right{
  width:190px;
  height:480px;
  position :absolute;
  right:80px;
  top:264px;
  overflow: hidden;
}
.footered{
  position:relative;
}
.mian-center-bottom-l{
  position:absolute;
  left:0px;
  top:350px;
}
.main-center-bottom-r{
  position:absolute;
  left:400px;
  top:350px;
}
.mian-right-top{
  height:100px;
  padding-top:15px;
  padding-left:10px;
  border-bottom: 1px solid #e6e6e6;
}
.mian-right-top img{
  width:50px;
  height:50px;
  display:inline-block;
  border-radius:50%;
  float:left;
}
.longer{
  width:100px;
  height:40px;
  float:left;
  padding-top:10px;
  padding-left:10px;
}
.longer span{
  display:inline-block;
}
.longer p{
  display:inline-block;
}
.newpeple{
  height:24px;
  width:62px;
  border: 2px solid #e01222;
  float:left;
 margin-top:14px;
 padding-left:10px;
}
.newpeple a{
  height:24px;
  line-height:24px;
  text-align:center;
  color: #e01222;
}
.newpeple a:hover{
  background-color: #e01222;
  color:#fff;
}

.plus a{
  height:24px;
  line-height:24px;
  text-align:center;
  color: #e01222;
}
.plus{
  height:24px;
  width:62px;
  border: 2px solid #e01222;
  float:left;
 margin-top:14px;
 margin-left:10px;
 text-align:center;
}
.plus a:hover{
  background-color: #e01222;
  color:#fff;
}
.main-right-middle{
  height:154px;
  border-bottom:1px solid #e6e6e6;
  padding:0 15px;
  position:relative;
}
.min-right-middle-t{
  position:relative;
  padding-top:8px;
  height:20px;
  border-bottom:1px solid #e6e6e6;
}
.min-right-middle-t a i{
   height:2px;
   width:30px;
   border-bottom:2px solid #f00;
   position:absolute;
   left:0px;
   bottom:-2px;
}
.min-right-middle-t a{
  padding-left:18px;
}
.min-right-middle-t .cuxiao{
  padding-left: 0px;
  padding-right:18px;
  height:28px;
  width:55px;
  border-right: 1px solid #e6e6e6;
}
.min-right-middle-t .gengduo{
  padding-left:40px;
}
.news {
  position:absolute;
  left:-13px;
  top:34px;
}
.news ul li{
  height:26px;
}
.main-right-buttom {
  position:absolute;
  left:-40px;
  bottom:-3px;
}
.main-right-buttom li span{
  width:12px;
  height:16px;
  position:absolute;
  right:144px;
  top:13px;
  background-color: #db192b;
}
.main-right-buttom li a em{
  width: 12px;
  height:12px;
  line-height:12px;
  background-color: #db192b;
  color:#fff;
}
.main-right-buttom li a s{
  margin-top:-3px;
  width:0px;
  height:0px;
  border-width: 2px 6px;
  border-style: solid;
  display:block;
  border-color:#db192b #db192b transparent #db192b ;
}
.main-right-buttom ul li{
  float:left;
  width:47px;
  height:23px;
  border:1px solid #e6e6e6;
  border-top: none;
  margin-left :-1px;
  border-left: none;
  text-align:center;
  padding-top:47px;
}
.main-right-buttom ul{
  width:192px;
}
.main-right-buttom  li a i{
  width:24px;
  height:25px;
}
.main-right-buttom .huafei{
  position:absolute;
  left:50px;
  top:30px;
  background:url(../images/jingdong.png)no-repeat  0px 0px;
}
.main-right-buttom .youxi{
  position:absolute;
  left:100px;
  top:30px;
  background:url(../images/jingdong.png)no-repeat  0px -46px;
}
.main-right-buttom .lvxing{
  position:absolute;
  left:150px;
  top:30px;
  background:url(../images/jingdong.png)no-repeat  0px -86px;
}
.main-right-buttom .chexian{
  position:absolute;
  left:194px;
  top:30px;
  background:url(../images/jingdong.png)no-repeat  0px -135px;
}
.main-right-buttom .caipiao{
  position:absolute;
  left:50px;
  top:100px;
  background:url(../images/jingdong.png)no-repeat  0px -178px;
}
.main-right-buttom .dianying{
  position:absolute;
  left:100px;
  top:100px;
  background:url(../images/jingdong.png)no-repeat  0px -223px;
}
.main-right-buttom .jiudian{
  position:absolute;
  left:150px;
  top:100px;
  background:url(../images/jingdong.png)no-repeat  0px -264px;
}
.main-right-buttom .licai{
  position:absolute;
  left:194px;
  top:100px;
  background:url(../images/jingdong.png)no-repeat  0px -311px;
}
.main-right-buttom .zhaofuwu{
  position:absolute;
  left:50px;
  top:172px;
  background:url(../images/jingdong.png)no-repeat  0px -354px;
}
.main-right-buttom .yingyue{
  position:absolute;
  left:100px;
  top:172px;
  background:url(../images/jingdong.png)no-repeat  0px -397px;
}
.main-right-buttom .shuidian{
  position:absolute;
  left:150px;
  top:172px;
  background:url(../images/jingdong.png)no-repeat  0px -443px;
}
.main-right-buttom .huochepiao{
  position:absolute;
  left:194px;
  top:172px;
  background:url(../images/jingdong.png)no-repeat  0px -1146px;
}
/*秒杀部分开始*/
.seckill{
  height:354px;
  background-color: #fff;

}
.seckill-top{
  height:56px;
  margin-top:10px;
  background: url(../images/seckill_hd.png)no-repeat;
  position:relative;
}
.seckill-top-left .icon1{
  width:24px;
  height:24px;
  position:absolute;
  left:-1px;
  top:-2px;
  background:url(../images/sprite.png)no-repeat -191px -49px;
}
.seckill-top-left .icon2{
  position:absolute;
  left:30px;
  top:10px;
  display:inline-block;
  width:34px;
  height:49px;
  background:url(../images/sprite.png)no-repeat 0px -42px;
}
.seckill-top-left h3{
  margin-left:70px;
  font-size:24px;
  color:#fff;
  float:left;
}
.seckill-top-left a{
  padding-top:26px;
  float:left;
  padding-left:10px;
  color:#fff;
}
.seckill-top-left .icon3{
  position:absolute;
  left:302px;
  top:27px;
  display:inline-block;
  width:16px;
  height:16px;
  background:url(../images/sprite.png)no-repeat -154px -40px;
}
.seckill-top-right {
  padding-right:20px;
}
.seckill-top-right span{
  float:left;
  padding:28px 5px 0px 5px;
  color:#fff;
}
.seckill-top-right img{
  padding-top:8px;
  float:left;
}
.seckill-bottom{
  position:relative;
}
.seckill-tuijain{
  width:1000px;
  padding:0px 10px;
  position:absolute;
  left:0px;
  top:0px;
}
.seckill-tuijain ul li{
  height:230px;
  display:inline-block;
  width:190px;
  float:left;
  border-right:1px solid #e7e7e7;
}
.seckill-tuijain li a img{
  padding-left:30px;
  padding-top:20px;
}
.seckill-bottom a img{
  float:left;
}
.seckill-guangao {
  width:180px;
  height:225px;
  float:right;
  margin-right:10px;
  margin-top:13px;
}
.seckill-tuijain li p{
   float:left;
   padding-left:10px;
}
.seckill-tuijain li i{
  float:left;
  color:#f00;
  padding-left:10px;
}
.seckill-tuijain li s{
  float:left;
  padding-left:5px;
}
.seckill-tuijain li span{
  float:left;
  color:#f00;
  font-size:24px;
}
.seckill-tuijain li  del{
  float:left;
  padding-left:5px;
}
.seckill-tuijain li .icon4{
  color:#fff;
  padding-left:2px;
  text-align:center;
  width:28px;
  height:40px;
  position:absolute;
  left:57px;
  top:15px;
  background:url(../images/sprite.png)no-repeat 0px -100px;
}
.seckill-tuijain li .icon5{
  color:#fff;
  padding-left:2px;
  text-align:center;
  width:28px;
  height:40px;
  position:absolute;
  left:250px;
  top:15px;
  background:url(../images/sprite.png)no-repeat 0px -100px;
}
.seckill-tuijain li .icon6{
  color:#fff;
  padding-left:2px;
  text-align:center;
  width:28px;
  height:40px;
  position:absolute;
  left:441px;
  top:15px;
  background:url(../images/sprite.png)no-repeat 0px -100px;
}
.seckill-tuijain li .icon7{
  color:#fff;
  padding-left:2px;
  text-align:center;
  width:28px;
  height:40px;
  position:absolute;
  left:633px;
  top:15px;
  background:url(../images/sprite.png)no-repeat 0px -100px;
}
.seckill-tuijain .solid-b{
  width:140px;
  height:5px;
  position:absolute;
  left:80px;
  top:165px;
  background: url(../images/sprite.png)no-repeat -20px -15px;
}
.seckill-tuijain .solid-b1{
  width:140px;
  height:5px;
  position:absolute;
  left:260px;
  top:165px;
  background: url(../images/sprite.png)no-repeat -20px -15px;
}
.seckill-tuijain .solid-b2{
  width:140px;
  height:5px;
  position:absolute;
  left:460px;
  top:165px;
  background: url(../images/sprite.png)no-repeat -20px -15px;
}
.seckill-tuijain .solid-b3{
  width:140px;
  height:5px;
  position:absolute;
  left:654px;
  top:165px;
  background: url(../images/sprite.png)no-repeat -20px -15px;
}
.seckill-tuijain .solid-b4{
  width:140px;
  height:5px;
  position:absolute;
  left:840px;
  top:165px;
  background: url(../images/sprite.png)no-repeat -20px -15px;
}
.tubiao .tubiao-left{
width:20px;
height:60px;
background-color: rgba(0,0,0,.2);
cursor:pointer;
position:absolute;
left:0px;
top:50%;
margin-top:-30px;
font-size:30px;
line-height:60px;
}
.tubiao .tubiao-right{
width:20px;
height:60px;
background-color: rgba(0,0,0,.2);
cursor:pointer;
position:absolute;
right:20px;
top:50%;
margin-top:-30px;
font-size:30px;
line-height:60px;
}
.tubiao{
  display:none ;
}
.seckill-tuijain:hover .tubiao{
  display:block;
  color:#fff;
}
/*秒杀部分结束*/

/*享受生活部分开始*/
 .enjoy{
  height:405px;
  background-color: #fff;
  margin-bottom: 30px;
  position:relative;
 }
 .enjoy-top ul li{
  width:3px;
  height:4px;
  background: url(../images/xiazai.png)no-repeat;  float:left;
  padding-left:10px;
 }
.enjoy-top ul h5{
    font-size:24px;
    margin: 0 55px;
    float:left;
    margin-top:-5px;
}
.enjoy-bottom .enjoy-box1{
  height:171px;
  width:390px;
  position:absolute;
  left:0px;
  top:35px;
  overflow:hidden;
}
.enjoy-box1 .enjoy-mbox1{
 width:170px;
 height:171px;
 background-color:#984575;
 opacity: 0.7;
 position:absolute;
 left:0px;
 top:0px;
}
.enjoy-mbox1 i{
  height:40px;
  width:100px;
  border-top:2px solid #fff;
  border-bottom:2px solid #fff;
  text-align:center;
  line-height:40px;
  font-size:18px;
  color:#fff;
  position:absolute;
  left:20%;
  top:20%;
}
.enjoy-mbox1 p{
  position:absolute;
  left:36px;
  top:75px;
  color:#fff;
}
.enjoy-bottom .enjoy-box2{
  height:171px;
  width:390px;
  position:absolute;
  left:400px;
  top:35px;
  overflow:hidden;
}
 .enjoy-mbox2 {
 width:170px;
 height:171px;
 background-color:#488b94;
 opacity: 0.7;
 position:absolute;
 left:0px;
 top:0px;
}
.enjoy-mbox2 i{
  height:40px;
  width:100px;
  border-top:2px solid #fff;
  border-bottom:2px solid #fff;
  text-align:center;
  line-height:40px;
  font-size:18px;
  color:#fff;
  position:absolute;
  left:34px;
  top:32px;
}
.enjoy-mbox2 p{
  position:absolute;
  left:36px;
  top:75px;
  color:#fff;
}
.enjoy-bottom .enjoy-box3{
  height:171px;
  width:390px;
  position:absolute;
  left:800px;
  top:35px;
  overflow:hidden;
}
 .enjoy-mbox3 {
 width:170px;
 height:171px;
 background-color:#d78e27;
 opacity: 0.7;
 position:absolute;
 left:0px;
 top:0px;
}
.enjoy-mbox3 i{
  height:40px;
  width:100px;
  border-top:2px solid #fff;
  border-bottom:2px solid #fff;
  text-align:center;
  line-height:40px;
  font-size:18px;
  color:#fff;
  position:absolute;
  left:34px;
  top:32px;
}
.enjoy-mbox3 p{
  position:absolute;
  left:36px;
  top:75px;
  color:#fff;
}
.enjoy-bottom .enjoy-box4{
  height:171px;
  width:390px;
  position:absolute;
  left:0px;
  top:217px;
  overflow:hidden;
}
 .enjoy-mbox4 {
 width:170px;
 height:171px;
 background-color:#b04942;
 opacity: 0.7;
 position:absolute;
 left:0px;
 top:0px;
}
.enjoy-mbox4 i{
  height:40px;
  width:100px;
  border-top:2px solid #fff;
  border-bottom:2px solid #fff;
  text-align:center;
  line-height:40px;
  font-size:18px;
  color:#fff;
  position:absolute;
  left:34px;
  top:32px;
}
.enjoy-mbox4 p{
  position:absolute;
  left:36px;
  top:75px;
  color:#fff;
}
.enjoy-bottom .enjoy-box5{
  height:171px;
  width:390px;
  position:absolute;
  left:400px;
  top:217px;
  overflow:hidden;
}
 .enjoy-mbox5 {
 width:170px;
 height:171px;
 background-color:#6e356e;
 opacity: 0.7;
 position:absolute;
 left:0px;
 top:0px;
}
.enjoy-mbox5 i{
  height:40px;
  width:100px;
  border-top:2px solid #fff;
  border-bottom:2px solid #fff;
  text-align:center;
  line-height:40px;
  font-size:18px;
  color:#fff;
  position:absolute;
  left:34px;
  top:32px;
}
.enjoy-mbox5 p{
  position:absolute;
  left:36px;
  top:75px;
  color:#fff;
}
.enjoy-bottom .enjoy-box6{
  height:171px;
  width:390px;
  position:absolute;
  left:800px;
  top:217px;
  overflow:hidden;
}
.enjoy-mbox6 {
 width:170px;
 height:171px;
 background-color:#86634f;
 opacity: 0.7;
 position:absolute;
 left:0px;
 top:0px;
}
.enjoy-mbox6 i{
  height:40px;
  width:100px;
  border-top:2px solid #fff;
  border-bottom:2px solid #fff;
  text-align:center;
  line-height:40px;
  font-size:18px;
  color:#fff;
  position:absolute;
  left:34px;
  top:32px;
}
.enjoy-mbox6 p{
  position:absolute;
  left:36px;
  top:75px;
  color:#fff;
}
/*享受生活部分结束*/

